/* ====================== footer section ====================== */

.footer {
  background-color: #3231308a;
  /* background-color: cornflowerblue; */
  color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.club-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40%;
  align-content: center;
}

.club-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 0.6rem; */
  font-size: 25pt;
}

.club-logo {
  margin-right: -20px;
  /* z-index: 4; */
}

.footer div .logo {
  width: 6rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.club-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#club-name {
  font-size: 23pt;
  text-transform: uppercase;
}

.social-links {
  /* background-color: aqua; */
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-links {
  /* background-color: blueviolet; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* width: max-content; */
  width: 100%;
  /* justify-items: center; */
  /* gap: 0.5rem; */
}

.footer-links > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: aliceblue;
  font-size: 15pt;
  width: 50%;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

/* ====================== footer section responsive ====================== */

@media only screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
  }

  .club-div,
  .social-links {
    width: 90%;
  }

  .footer-links {
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-links > a {
    width: 50%;
    margin-top: 0;
    justify-content: center;
  }
}
