/* ====================== google fonts ====================== */

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

/* ====================== global declaration section ====================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "JetBrains Mono", monospace;
  /* font-family: 'Inter', sans-serif; */
}

:root {
  --orange: #e75f00;
  --white: #ffffff;
  --light-gray: #d7d7d7;
  --gray: #a6a6a4;
  --black: #000000;
}

/* ====================== Theme css ====================== */

.light-theme {
  --white: #000000;
  --black: #ffffff;
  --light-gray: #969696;
  --gray: #515151;
}

/* ====================== body and main css ====================== */

body {
  background-color: var(--black);
  overflow-x: hidden;
}

main {
  background-color: var(--black);
  position: relative;
}

/* ====================== button css ====================== */

.button {
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--orange);
  border: 2px solid var(--orange);
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--white);
  transition: all 0.1s linear;
}

.button:hover {
  background-color: transparent;
}

/* ====================== page css ====================== */

.page {
  height: 100vh;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

#change-theme {
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--orange);
  border: 2px solid var(--orange);
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--white);
  transition: all 0.1s linear;
}

#change-theme:hover {
  background-color: transparent;
}

/* Back to Top Button */
.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--gray);
  cursor: pointer;
}

.hidden-top-btn {
  display: none;
}

.back-to-top:hover {
  background-color: var(--orange);
  scale: 1.2;
  transition-duration: 0.5s;
}
